@import "abstracts/_variables.scss";
@import "abstracts/_functions.scss";

.container {
  @apply col-span-1;
}

.image {
  @apply w-full object-cover mb-4;
  min-height: rem(305);
  border-radius: rem(10);
}

.name {
  @apply font-semibold mb-2;
  color: $primary-dark-color;
  font-size: rem(17);
  line-height: 130%;
  letter-spacing: -0.01em;
}
