@import "abstracts/_variables.scss";
@import "abstracts/_functions.scss";

.imageContainer {
  @apply relative w-full mb-4;
  padding-top: 104%;
}

.image {
  @apply w-full h-full object-center object-cover inset-0 absolute mb-4;
  border-radius: rem(10);
}

.body {
  @apply flex flex-col text-center;
  padding: rem(24) rem(24) rem(32);
}

.bounty {
  @apply mb-4;
  font-size: rem(17);
  color: #181826;
  font-weight: 600;
  line-height: 160%;
}

.footer {
  padding: rem(24) 0 rem(40);
}

.link {
  @apply flex items-center uppercase;
  font-size: rem(13);
  font-weight: 700;
  line-height: 100%;
  color: $secondary-color;
  padding-left: rem(13);
}
