@import "abstracts/_variables.scss";
@import "abstracts/_functions.scss";

.container {
  @apply col-span-1 flex flex-col p-10 rounded-2xl;
  background: #f6fafe;

  &:hover {
    [data-arrow] {
      transform: translateX(rem(4));
    }
  }
}

.image {
  @apply object-cover mb-10;
  width: rem(120);
  height: rem(120);
  border-radius: 50%;
}

.link {
  @apply flex items-center gap-1;
  font-size: rem(17);
  font-weight: 500;
  line-height: 160%;
  color: $secondary-color;

  [data-arrow] {
    transition: all 0.15s ease-in-out;
  }
}
