@import "abstracts/_variables.scss";
@import "abstracts/_functions.scss";

.logo {
  height: 32px;
  width: auto;
  margin-right: rem(40);
}

.head {
  @apply flex flex-col items-center relative;
  padding: rem(175) 0 rem(100);
}

.decoration {
  position: absolute;
  top: 0;
  right: 0;
}

.quickLinksTypography {
  @apply uppercase mb-8;
  font-size: rem(15);
  font-weight: 600;
  line-height: 160%;
  color: #a5a5ba;
}

.link {
  font-size: rem(17);
  line-height: 160%;
}

.linkTypography {
  color: #4a4a6a;
  &:hover {
    color: #000;
  }
}

.helperText {
  font-size: rem(13);
  line-height: 150%;
  max-width: rem(361);
}

.footLinks {
  color: #32324d;

  &:hover {
    color: #000;
  }
}
