@import "abstracts/_variables.scss";
@import "abstracts/_functions.scss";
@import "base/_helpers.scss";

.logo {
  @apply mb-12 sm:mb-20;
  height: rem(28);
  width: auto;
  margin-right: rem(40);

  @media (min-width: rem(640)) {
    height: rem(32);
  }
}

.head {
  @apply flex flex-col items-center container relative;
  padding: rem(175) 0 rem(100);
}

.decoration {
  @apply sc-decor--right;
  position: absolute;
  top: 0;
  height: auto;
  width: rem(200);

  @media (min-width: rem(640)) {
    right: 0;
    width: rem(298);
  }
}

.link {
  font-size: rem(15);
  line-height: 160%;

  @media (min-width: rem(640)) {
    font-size: rem(17);
  }
}

.linkSmall {
  @extend .link;
  font-size: rem(15);
}

.linkTypography {
  color: #4a4a6a;
  &:hover {
    color: #000;
  }
}

.helperText {
  font-size: rem(13);
  line-height: 150%;
  max-width: rem(361);
}

.footLinks {
  color: #32324d;

  &:hover {
    color: #000;
  }
}

.footer {
  @extend .sc-grid;
  @apply container gap-y-4 items-center mb-10;
}
