@import "abstracts/_variables.scss";
@import "abstracts/_functions.scss";

.logo {
  height: 32px;
  width: auto;
  margin-right: rem(40);
}

.footerHead {
  @apply flex flex-col items-center relative;
  padding: rem(175) 0 rem(100);
}

.footerDecoration {
  position: absolute;
  top: 0;
  right: 0;
}

.footerQuickLinksTypography {
  @apply uppercase mb-8;
  font-size: rem(15);
  font-weight: 600;
  line-height: 160%;
  color: #a5a5ba;
}

.footerLink {
  font-size: rem(17);
  line-height: 160%;
}

.footerLinkTypography {
  color: #4a4a6a;
}

.footerHelperText {
  font-size: rem(13);
  line-height: 150%;
  max-width: rem(361);
}

.footerFootLinks {
  color: #32324d;
}
