@import "abstracts/_functions.scss";
@import "base/_helpers.scss";

.heroSection {
  @apply relative;
  background: linear-gradient(180deg, #ffffff 0%, #f2f4ff 100%);
}

.heroTopRightDecoration {
  @apply absolute top-10 sm:top-0 right-5;
  height: rem(102.11);
  width: 32vw;

  @media (min-width: rem(640)) {
    @apply sc-decor--right;
    height: rem(151);
    width: rem(177);
  }
}

.getInvolvedBottomLeftDecoration {
  @apply absolute bottom-0 sm:-bottom-10 left-0;
  height: rem(100);
  width: rem(107.53);

  @media (min-width: rem(640)) {
    height: rem(186);
    width: rem(200);
  }
}
