// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for paragraphs
 */
p {
  color: #4a4a6a;
  line-height: 160%;
}
/**
 * Basic styles for links
 */
a {
  color: $primary-color;
  text-decoration: none;
}
/**
 * Remove select default icon
 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* For IE10 */
select::-ms-expand {
  display: none;
}

[type="checkbox"] {
  @apply rounded cursor-pointer;
  width: rem(24);
  height: rem(24);
  border: 1px solid #C0C0CF;
  transition: all ease-in-out 300ms;

  &:checked{
    accent-color: $primary-color;
  }

  &:focus{
    // outline: $primary-color;
  }
}
